@charset "UTF-8";

/* reset */

/* 闃叉鐢ㄦ埛鑷畾涔夎儗鏅鑹插缃戦〉鐨勫奖鍝嶏紝娣诲姞璁╃敤鎴峰彲浠ヨ嚜瀹氫箟瀛椾綋 */
html{
    color:#333;
    background:#fff;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}
/* 鍐呭杈硅窛閫氬父璁╁悇涓祻瑙堝櫒鏍峰紡鐨勮〃鐜颁綅缃笉鍚� */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    margin:0;
    padding:0;
}
/* 閲嶈 HTML5 鏍囩, IE 闇€瑕佸湪 js 涓� createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display:block;
}
/* HTML5 濯掍綋鏂囦欢璺� img 淇濇寔涓€鑷� */
audio, canvas, video{
    display:inline-block;
    *display:inline;
    *zoom:1;
}
/* 瑕佹敞鎰忚〃鍗曞厓绱犲苟涓嶇户鎵跨埗绾� font 鐨勯棶棰� */
body, button, input, select, textarea{
    font:12px/1.5 "\5FAE\8F6F\96C5\9ED1", "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial, "\5B8B\4F53";
    -webkit-font-smoothing:antialiased;
}
input, select, textarea{
    font-size:100%;
}
/* 鍘绘帀鍚� table cell 鐨勮竟璺濆苟璁╁叾杈归噸鍚� */
table{
    border-collapse:collapse;
    border-spacing:0;
}
/* IE bug fixed: th 涓嶇户鎵� text-align */
th{
    text-align:inherit;
}
/* 鍘婚櫎榛樿杈规 */
fieldset, img{
    border:0;
}
/* ie6 7 8(q) bug 鏄剧ず涓鸿鍐呰〃鐜� */
iframe{
    display:block;
}
/* 鍘绘帀 firefox 涓嬫鍏冪礌鐨勮竟妗� */
abbr, acronym{
    border:0;
    font-variant:normal;
}
/* 涓€鑷寸殑 del 鏍峰紡 */
del{
    text-decoration:line-through;
}
i{
    font-style:normal;
}
address, caption, cite, code, dfn, em, th, var{
    font-style:normal;
    font-weight:500;
}
/* 鍘绘帀鍒楄〃鍓嶇殑鏍囪瘑, li 浼氱户鎵� */
ol, ul{
    list-style:none;
}
/* 瀵归綈鏄帓鐗堟渶閲嶈鐨勫洜绱 , 鍒浠€涔堥兘灞呬腑 */
caption, th{
    text-align:left;
}
/* 鏉ヨ嚜yahoo, 璁╂爣棰橀兘鑷畾涔�, 閫傚簲澶氫釜绯荤粺搴旂敤 */
h1, h2, h3, h4, h5, h6{
    font-size:100%;
    font-weight:500;
}
h1{
    font-size:20px;
}
h2{
    font-size:16px;
}
h3, h4, h5, h6{
    font-size:12px;
}
/* 瑙ｅ喅ie涓嬮噸澶嶆渶鍚庡瓧绗� */
q:before, q:after{
    content:'';
}
/* 缁熶竴涓婃爣鍜屼笅鏍� */
sub, sup{
    position:relative;
    font-size:75%;
    line-height:0;
    vertical-align:baseline;
}
sup{
    top:-0.5em;
}
sub{
    bottom:-0.25em;
}
/* 榛樿涓嶆樉绀轰笅鍒掔嚎锛屼繚鎸侀〉闈㈢畝娲� */
ins, a{
    text-decoration:none;
}
a, .y-lnk-highlight, .y-lnk, .y-lnk-gray, .y-lnk-highlight{
    -webkit-transition:color .2s;
    -moz-transition:color .2s;
    -ms-transition:color .2s;
    -o-transition:color .2s;
}
/*a, a:link, a:visited, a:hover {*/
/*color: #00a2ca;*/
/*}*/

.w{
    width:1200px;
    margin:0 auto;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
/*页面底部开始*/
#footers{
    width:100%;
    background-color:#373d41;
}
#footers a:hover{
    color:#00c1de;
}
/*上部*/
#footerTop{
    height:288px;
    /*margin:50px 0 30px 0;*/
    padding-top:25px;
    border-bottom:1px solid #4b5054;
}
/*上部左边开始*/
#footerTopLeft{
    width:290px;
    height:259px;
    border-right:1px solid #4b5054;
    position:relative;
}
/*上部左边电话图片*/
#footerTopLeft img{
    width:50px;
    position:absolute;
    left:0;
    top:0;
}
#footerTopLeft h1{
    margin-left:81px;
    color:#ffffff;
    height:44px;
    line-height:44px;
}
#footerTopLeft h2{
    margin-left:81px;
    color:#c2c4c5;
    height:22px;
    line-height:22px;
}
#footerTopLeft ul{
    margin:10px 0 0 81px;
}
#footerTopLeft ul li{
    font-size:14px;
    height:30px;
    line-height:30px;
}
#footerTopLeft ul li a{
    color:#7591a0;
}
/*上部左边结束*/
/*上部右边开始*/
#footerTopRight{
    width:897px;
    height:259px;
}
#footerTopRightinul{
    margin-left:129px;
}
#footerTopRightinul > li{
    width:168px;
    float:left;
}
#footerTopRightinul li:last-child{
    width:94px;
}
#footerTopRightinul h3{
    font-size:12px;
    height:18px;
    line-height:18px;
    color:#d7d8d9;
}
.innerUl{
    padding-top:10px;
}
.innerUl li{
    height:26px;
    line-height:26px;
}
.innerUl li a{
    color:#9b9ea0;
}
#innerUl li:first-child{
    height:110px;
}
/*中部*/
#footerCentre{
    height:94px;
    border-bottom:1px solid #4b5054;
    padding-top:24px;
}
#footerCentre ul{
    float:left;
    height:26px;
    line-height:26px;
}
#footerCentre ul h3{
    width:81px;
    float:left;
    color:#9b9ea0;
}
#footerCentre ul li{
    width:124px;
    float:left;
}
#footerCentre ul li a{
    color:#73777a;
}
/*下部*/
#footerBottom{
    height:238px;
}
#footerBottom a{
    color:#73777a;
}
#footerBottom p a{
    font-size:14px;
}
#p1{
    margin:34px 0 48px 0;
    font-size:16px;
}
#p1 a{
    margin-right:39px;
}
#p2 a{
    margin-right:11px;
}
#p3{
    margin-top:5px;
}
#p4{
    font-size:14px;
    color:#73777a;
    margin-top:10px;
}
#p5{
    font-size:14px;
    color:#73777a;
    margin-top:10px;
    height:24px;
    line-height:24px;
}
#p5 span{
    margin-right:5px;
}
/*页面底部结束*/